body {background: black;
    overflow: hidden;
}
canvas {
    display:block;
}


.colorMenuMom{
    display: block;
    width:304px;
    height:45px;
    position: fixed;
    border-radius: 50px;
    top: 95%;
    left: 45.5%;
}

#colorButton{
    display: inline-block;
    width:40px;
    height:40px;
    position: relative;
    border-radius: 50px;
    opacity: 10%;

    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
}

#colorButton:hover{
    
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

