*{
    margin: 0;
    padding: 0;
}

body {background: black;}
canvas {display:block;}

    .fond{position:absolute;padding-top:0px;top:94%;left:20px; right:0;bottom:0;}

   
   #colorButton
   {
       display: inline-block;
       border: 0;
       width:40px;
       height:40px;
       position: relative;


       
       -webkit-transition: all 200ms ease-in;
       -webkit-transform: scale(); 
       -ms-transition: all 200ms ease-in;
       -ms-transform: scale(1); 
       -moz-transition: all 200ms ease-in;
       -moz-transform: scale(1);
       transition: all 200ms ease-in;
       transform: scale(1);   
   
}
   #colorButton:hover
   {
       
       box-shadow: 0px 0px 150px #000000;
       z-index: 2;
       -webkit-transition: all 200ms ease-in;
       -webkit-transform: scale(1.5);
       -ms-transition: all 200ms ease-in;
       -ms-transform: scale(1.5);   
       -moz-transition: all 200ms ease-in;
       -moz-transform: scale(1.5);
       transition: all 200ms ease-in;
       transform: scale(1.5);
}

